.card__figure {
  display: grid;
  grid-template-columns: 1fr 62px;
  grid-template-rows: 1fr 79px;
  grid-template-areas:
  "image image"
  "description button_type_like";

  padding: 0;
  margin: 0;
}
