.popup__input {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 21px;

  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background: transparent;

  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
