.card__button_type_like {
  display: block;
  width: 22px;
  height: 22px;
  align-self: center;
  justify-self: center;
  grid-area: button_type_like;

  background-image: url(../../../../images/icons/like_disabled.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;

  transition: background-image .2s;
}

.card__button_type_like:hover {
  opacity: .5;
}

.card__button_type_like:active {
  background-image: url(../../../../images/icons/like_active.svg);
  opacity: 1;
}
