.card__description {
  display: block;
  width: 199px;
  margin: 0;
  grid-area: description;
  padding: 25px 0 0 21px;

  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
