.form__button_type_submit {
  display: block;
  width: 100%;
  padding: 14px 0;

  background: #000;
  border-radius: 2px;

  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
}

.form__button_type_submit:hover {
  opacity: .8;
}

@media screen and (min-width: calc(430px + 55px * 2)){
  .form__button_type_submit {
    font-size: 18px;
    line-height: 21px;
  }
}
