.profile__info {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, max-content) 1fr;
  grid-template-rows: minmax(min-content, max-content);
  justify-content: center;
  grid-template-areas:
  "photo photo photo"
  "empty name edit"
  "profesion profesion profesion";
}


@media screen and (min-width: calc(880px + 19px * 2)){
  .profile__info{
    width: calc(100% - 150px);
    justify-content: start;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "photo name edit"
    "photo profesion profesion";
  }
}
