.popup__title {
  display: block;
  margin: 0;
  margin-bottom: 65px;
  box-sizing: border-box;

  font-weight: 900;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

@media screen and (min-width: calc(430px + 40px * 2)){
  .popup__title {
    margin-bottom: 38px;

    font-size: 24px;
    line-height: 29px;
  }
}
